.our-team-container{
    width: 80%;
    margin: 0 auto;
    
 
}

.about-us-page{
    height: 100%;
    position: relative;
}

.title-section {
    height: 10vh;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url('../assets/bg1.jpeg');
    background-position: center;
    background-size: cover;
    color: #fff;
    text-align: center;
}
.title{
    text-align: center;
}
.our-team-container{
    height: 70vh;
 
    margin-top: 2rem;
    text-align: center;
}
.about-us-page h1{
    font-size: 36px;
    font-weight: 700;
}
.team {
    margin-top: -20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 
   
}



.out-instructor-container{
    /* padding-bottom: 400px; */
    
}