.navbar {
    position: sticky;
    top: 0;
    color: white;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    padding: 2% 4%;
}

.oslab {
    font-size: 25px;
    font-weight: 500;
}

ul {
    font-size: 18px;
}

.links li {
    list-style: none;
    display: inline-block;
    padding: 5px 15px;
    position: relative;
}

.navbar ul li a::after {
    position: absolute;
    bottom: -5px;
    left: 0;
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    transition: 0.5s;
}

.navbar ul li a:hover::after {
    width: 100%;
}